#{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{ 
    transform: translate(-50%,-50%);
}
.container button{
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
#imgbox{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
#imgbox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}
